.page-header
  h1 Index of party

.row
  .span12
      p!= link_to ('<i class="icon-plus icon-white"></i> New party', path_to.new_party(), {class: 'btn btn-primary'})
      if parties.length > 0
        table.table.table-striped
          thead
            tr
              th ID
              th Actions
            tbody
              - parties.forEach(function (party) {
                tr
                  td
                    strong!= link_to(party.name, path_to.party(party))
                  td
                    != link_to('<i class="icon-edit icon-white"></i> Edit', path_to.edit_party(party), {class: 'btn btn-mini btn-primary'}) + ' '
                    != link_to('<i class="icon-remove icon-white"></i> Delete', path_to.party(party), {class: 'btn btn-mini btn-danger', method: 'delete', remote: true, jsonp: '(function (u) {location.href = u;})'})
              - });
      else
        p.alert.alert-block.alert-info
          strong No parties were found.