.page-header
  h1 New article

- form_for(article, {action: path_to.articles(), method: 'POST', id: "article_form"}, function (form) {
  != partial('articles/form.jade', {locals: {form: form, article: article}})
  .actions
    != form.submit('Create article', {class: 'btn'})
    span= ' or '
    != link_to('Cancel', path_to.articles(), {class: 'btn'})
- });
