block prepend css
  != stylesheet_link_tag("http://blueimp.github.com/jQuery-File-Upload/css/jquery.fileupload-ui.css")

.control-group
  != form.label("name", false, {class: "control-label"})
  .controls
    != form.input("name")
.control-group
  != form.label("photo", false, {class: "control-label"})
  .controls
    input#fileupload(type="file", name="files[]", data-url="/upload?imgName=congresists/#{congresist.id}")
    br
    != form.input("photo")
.control-group
  != form.label("position", false, {class: "control-label"})
  .controls
    != form.input("position")
.control-group
  != form.label("properties", false, {class: "control-label"})
  .controls
    != form.input("properties")
.control-group
  != form.label("stateId", false, {class: "control-label"})
  .controls
    != form.input("stateId")
.control-group
  != form.label("partyId", false, {class: "control-label"})
  .controls
    != form.select("partyId", parties, {fieldname: 'name', fieldvalue: 'id', select: congresist.partyId})
.control-group
  != form.label("salary", false, {class: "control-label"})
  .controls
    != form.input("salary", {type: 'number'})
.control-group
  != form.label("benefits", false, {class: "control-label"})
  .controls
    != form.input("benefits")
.control-group
  != form.label("totalVotes", false, {class: "control-label"})
  .controls
    != form.input("totalVotes", {type: 'number'})
.control-group
  != form.label("status", false, {class: "control-label"})
  .controls
    != form.checkbox("status")
.control-group
  != form.label("background", false, {class: "control-label"})
  .controls
    != form.input("background")
.control-group
  != form.label("birthDate", false, {class: "control-label"})
  .controls
    != form.input("birthDate", {type: 'date'})
.control-group
  != form.label("created_at", false, {class: "control-label"})
  .controls
    != form.input("created_at", {type: 'date'})
.control-group
  != form.label("updated_at", false, {class: "control-label"})
  .controls
    != form.input("updated_at", {type: 'date'})
!= javascript_include_tag('http://blueimp.github.com/jQuery-File-Upload/js/vendor/jquery.ui.widget.js', 'http://blueimp.github.com/jQuery-File-Upload/js/jquery.iframe-transport.js', 'http://blueimp.github.com/jQuery-File-Upload/js/jquery.fileupload.js')
script
  $('#fileupload').fileupload({
    dataType: 'json',
    done: function (e, data) {
      var timg = data.files[0].name;
      $('#Congresist_photo').val('congresists/#{congresist.id}'+timg.substr(timg.lastIndexOf('.')));
    }
  });